<!--<nav class="navbar navbar-inverse">
    <div class="navbar-header">
        <button type="button"
                class="navbar-toggle"
                (click)="toggleState()">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <div class="collapse navbar-collapse"
       [ngClass]="{ 'in': isIn }">
       <ul class="nav navbar-nav">
          <li><a>Link 1</a></li>
          <li><a>Link 2</a></li>
       </ul>
    </div>
</nav>-->

<!--<div class="xnavbar xnavbar-inverse">
  <div class="xnavbar-header">
    <button type="button"
            class="xnavbar-toggle"
            (click)="toggleState()">
        <span class="sr-only">Toggle navigation</span>
        <span class="xicon-bar"></span>
        <span class="xicon-bar"></span>
        <span class="xicon-bar"></span>
    </button>
  </div>
  <div class="xcollapse xnavbar-collapse"
       [ngClass]="{ 'in': isIn }">
    <ul class="nav navbar-nav">
       <li><a>Lobby</a></li>
       <li><a>Vælg startopstilling</a></li>
       <li><a>Statistik</a></li>
       <li><a>Livescore</a></li>
       <li><a>Om spillet</a></li>
    </ul>
  </div>
</div>-->
<!--
<div flex layout="row">
  <md-toolbar class="flextoolbar">

    <button type="button"
            class="testnavbar-toggle"
            (click)="toggleState()">
        <i class="material-icons">menu</i>
    </button>

    <div class="fill-remaining-space1"></div>

    <img src="https://raw.githubusercontent.com/CarlosBinino/Billeder/master/logo-negativ.png" class="logo">

    <div class="fill-remaining-space2"></div>

    <button type="button" class="buttonside">
        <h6>JonasKhalili <i class="material-icons">expand_more</i></h6>
    </button>

  </md-toolbar>
</div>

<div flex layout="row" class="flex-container">

  <div flex="50" class="testcollapse testnavbar-collapse"
       [ngClass]="{ 'in': isIn }">
    <ul class="nav navbar-nav">
       <li><a>Lobby</a></li>
       <li><a>Vælg startopstilling</a></li>
       <li><a>Statistik</a></li>
       <li><a>Livescore</a></li>
       <li><a>Om spillet</a></li>
    </ul>
  </div>

  <div flex="50">
    <lobby></lobby>
  </div>

</div>-->
<!--
<div class="testnavbar testnavbar-inverse">
  <div class="testnavbar-header">
    <button type="button"
            class="testnavbar-toggle"
            (click)="toggleState()">
        <i class="material-icons">chevron_right</i>
    </button>
  </div>
  <div class="testcollapse testnavbar-collapse"
       [ngClass]="{ 'in': isIn }">
    <ul class="nav navbar-nav">
       <li><a>Lobby</a></li>
       <li><a>Vælg startopstilling</a></li>
       <li><a>Statistik</a></li>
       <li><a>Livescore</a></li>
       <li><a>Om spillet</a></li>
   </ul>
  </div>
</div>
-->
